.odd-color {
    background-color: #d4074f;
    font-family:Verdana, "DejaVu Sans", sans-serif;
}
#id-two {
    color: #0000ff;
    font-size: 36px;
}
.id-three {
    font-size: 24px;
}
#id-four {
    background-color: #00ff00;
    font-size: 24px;
    font-weight: 700;
}